<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myntra</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/content.css">

    <link rel="stylesheet" href="../css/bootstrap-5.3.1-dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../css/bootstrap-5.3.1-dist/js/bootstrap.js"> -->
    <script src="../css/bootstrap-5.3.1-dist/js/bootstrap.js"></script>

    <link rel="stylesheet/scss" type="text/css" href="../css/style1.scss">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <link rel="icon" href="../img/icon/icon-removebg.png" type="image/icon type">
    <style>
    </style>
</head>

<!-- start:nevbar -->
<nevbar class="" style="font-family: Assistant,Helvetica,Arial,sans-serif!important;">
    <header id="header" class="position-fixed top-0 w-100 z-2">
        <div class="d-flex align-items-center justify-content-start bg-white bottom_shadow ps-4 pe-4">
            <div class="mx-3 w-100 d-flex desktop-nav-justify">
                <div class="col-md-12 desktop-nav-width">
                    <div class="col-md-12 d-flex align-items-center justify-content-between">
                        <!-- <div class="desktop-nav-dropdown">
                            <button class="desktop-nav-dropdown openbtn" onclick="openNav()">&#9776;</button>
                        </div> -->
                        <div class="col-4 d-flex justify-content-start">
                            <a href="">
                                <div class="logo_image_prop">
                                    <img src="../img/icon/icon.png" alt="" class="w-100 h-100">
                                </div>
                            </a>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <p class="" style="letter-spacing: 3px; font-size: 12px;font-weight: 600;">
                                <span class="">BAG</span>
                                <span class="">-------</span>
                                <span class="">ADDRESS</span>
                                <span class="">-------</span>
                                <span class="">PAYMENT</span>
                            </p>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <a class="d-flex justify-content-start text-decoration-none" href="">
                                <div class="me-2 ">
                                    <img width="30px" src="../img/abc/sprite-secure.png" alt="" class="w-0 h- 0">

                                </div>
                                <div class="align-items-center justify-content-center d-flex text-black" style="letter-spacing: 3px; font-size: 12px;font-weight: 600;">
                                    100% SECURE
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
</nevbar>
<!-- end:nevbar -->

<!-- start:content -->
<div class="mt-5 mb-5" style="padding-top: 100px;padding-bottom: 100px;">
    
    <div class="m-5 pt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="col-4">
                <div class="justify-content-center d-flex mb-5">
                    <div class="col-5 ">
                        <img class="img-fluid" src="../img/empty-bag.webp" alt="">
                    </div>
                </div>

                <div class="text-center mb-3">
                    <h5 class="fw-bold">Hey, it feels so light!</h5>
                </div>
                <div class="text-body-secondary d-flex justify-content-center">
                    <p class="text-wrap text-center fs-10" style="width: 415px;">
                        There is nothing in your bag. Let's add some items.
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-6 ">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-danger pt-2 pb-2">ADD ITEMS FROM WISHLIST</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</body>


<!-- start:footer -->
<footer class="d-flex  row fs-small  p-5" style="background-color: rgb(250, 251, 252);">
    <div class="media-999-block  text-secondary m-5">
        <div class="d-flex">
            <ul class="col-12">
                <p class="fw-bold">SHOP FOR</p>
    
                <p class="lh-sm"><span>Men</span> |
                    <span>Women</span> |
                    <span>Kids</span> |
                    <span>Home & Living</span> |
                    <span>Beauty</span> |
                    <span>Gift Cards</span> |
                    <span>Myntra Insider</span>
                </p>
    
                <p class="mt-4 fw-bold">KEEP IN TOUCH</p>
                <div class="d-flex">
                    <div class="ms-0">
                        <img width="25px" src="../img/abc/facebook-logo.png" class="img-fluid" alt="...">
                    </div>
                    <div class="ms-2">
                        <img width="25px" src="../img/abc/insta.png" class="img-fluid" alt="...">
                    </div>
                    <div class="ms-2">
                        <img width="25px" src="../img/abc/twitter-logo.png" class="img-fluid" alt="...">
                    </div>
                    <div class="ms-2">
                        <img width="25px" src="../img/abc/yt.png" class="img-fluid" alt="...">
                    </div>
                </div>
                <div class="">
                    <p class="fw-bold">CUSTOMER POLICIES</p>
    
                    <p> 
                        <span>Contact Us</span>
                        <span>FAQ</span>
                        <span>T&C</span>
                        <span>Terms Of Use</span>
                        <span>Track Orders</span>
                        <span>Shipping</span>
                        <span>Cancellation</span>
                        <span>Returns</span>
                        <span>Privacy policy</span>
                        <span>Grievance Officer</span>
                    </p>
                </div>
    
                <p class="fw-bold">USEFUL LINKS</p>
    
                <span>Blog</span>
                <span>Careers</span>
                <span>Site Map</span>
                <span>Corporate Information</span>
                <span>Whitehat</span>
            </ul>
            
            
    
        </div>
    </div>
    <div class="media-999-none col-12 text-secondary m-5 mt-0 mb-0 p-5 pt-0 mb-0">
        <div class="d-flex p-5 pt-0 pb-0">
            <ul class="col-2 list-unstyled lh-lg">
                <p class="fw-bold">ONLINE SHOPPING</p>
    
                <li>Men</li>
                <li>Women</li>
                <li>Kids</li>
                <li>Home & Living</li>
                <li>Beauty</li>
                <li>Gift Cards</li>
                <li>Myntra Insider</li>
    
                <p class="fw-bold">USEFUL LINKS</p>
    
                <li>Blog</li>
                <li>Careers</li>
                <li>Site Map</li>
                <li>Corporate Information</li>
                <li>Whitehat</li>
            </ul>
            <ul class="col-2 list-unstyled lh-lg">
                <p class="fw-bold">CUSTOMER POLICIES</p>
    
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>T&C</li>
                <li>Terms Of Use</li>
                <li>Track Orders</li>
                <li>Shipping</li>
                <li>Cancellation</li>
                <li>Returns</li>
                <li>Privacy policy</li>
                <li>Grievance Officer</li>
            </ul>
            <ul class="col-3">
                <p class="fw-bold">EXPERIENCE MYNTRA APP ON MOBILE</p>
                <div class="d-flex justify-content-around">
                    <div class="col-5">
                        <img src="../img/abc/google_play.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-5">
                        <img src="../img/abc/google_play.png" class="img-fluid" alt="...">
                    </div>
                </div>
                <p class="mt-4 fw-bold">KEEP IN TOUCH</p>
                <div class="d-flex">
                    <div class="col-2">
                        <img width="25px" src="../img/abc/facebook-logo.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2">
                        <img width="25px" src="../img/abc/insta.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2">
                        <img width="25px" src="../img/abc/twitter-logo.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2">
                        <img width="25px" src="../img/abc/yt.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </ul>
            <ul class="col-3">
                <div class="d-flex">
                    <div class="col-2">
                        <img src="../img/abc/original.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-10">
                        <p>
                            <span class="fw-bold">100% ORIGINAL</span>
                            guarantee for all products at myntra.com
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-2">
                        <img src="../img/abc/Return-Window-image.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-10">
                        <p>
                            <span class="fw-bold">Return within 14days</span>
                            of receiving your order
                        </p>
                    </div>
                </div>
            </ul>
    
        </div>
    </div>
    <div class="m-5 mt-0 mb-0 p-5 pt-0 mb-0">
        <div class="col-12  p-5 pt-0 pb-0">
            <p class="fw-bold"> POPULAR SEARCHES
                <hr>
            </p>
        </div>
        <div class="col-12  p-5 pt-0 pb-0">
                <div class="desktop-pSearchlinks text-secondary lh-lg fs-6 text" data-reactid="127">
                    <a class="text-secondary text-decoration-none" href="/makeup" data-reactid="129">
                    Makeup</a> | 
                    <a class="text-secondary text-decoration-none" href="/girls-dresses" data-reactid="133">
                    Dresses ForGirls</a> | 
                    <a class="text-secondary text-decoration-none" href="/tshirts"
                    data-reactid="137">
                    T-Shirts</a> | 
                    <a class="text-secondary text-decoration-none" href="/sandals" data-reactid="141">
                    Sandals</a> | 
                    <a class="text-secondary text-decoration-none" href="/headphones" data-reactid="145">
                    Headphones</a> | 
                    <a class="text-secondary text-decoration-none" href="/babydolls" data-reactid="149">
                    Babydolls</a> | 
                    <a class="text-secondary text-decoration-none" href="/men-blazers" data-reactid="153">
                    Blazers ForMen</a> | 
                    <a class="text-secondary text-decoration-none" href="/handbags"
                    data-reactid="157">
                    Handbags</a> | 
                    <a class="text-secondary text-decoration-none" href="/women-watches" data-reactid="161">
                    LadiesWatches</a> | 
                    <a class="text-secondary text-decoration-none" href="/bags"
                    data-reactid="165">
                    Bags</a> | 
                    <a class="text-secondary text-decoration-none" href="/sports-shoes" data-reactid="169">
                    Sport Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/reebok-shoes" data-reactid="173">
                    Reebok Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/puma-shoes" data-reactid="177">
                    Puma Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/men-boxers" data-reactid="181">
                    Boxers</a> | 
                    <a class="text-secondary text-decoration-none" href="/wallets" data-reactid="185">
                    Wallets</a> | 
                    <a class="text-secondary text-decoration-none" href="/women-shirts-tops-tees"
                    data-reactid="189">
                    Tops</a> | 
                    <a class="text-secondary text-decoration-none" href="/earrings" data-reactid="193">
                    Earrings</a> | 
                    <a class="text-secondary text-decoration-none" href="/fastrack-watches" data-reactid="197">
                    Fastrack
                    Watches</a><a
                    href="/women-kurtas-kurtis-suits" data-reactid="201">
                    Kurtis</a> | 
                    <a class="text-secondary text-decoration-none" href="/nike" data-reactid="205">
                    Nike</a> | 
                    <a class="text-secondary text-decoration-none" href="/smart-watches" data-reactid="209">
                    SmartWatches</a> | 
                    <a class="text-secondary text-decoration-none" href="/titan-watches"
                    data-reactid="213">TitanWatches</a> | 
                    <a class="text-secondary text-decoration-none" href="/saree-blouse"
                    data-reactid="217">DesignerBlouse</a> | 
                    <a class="text-secondary text-decoration-none" href="/gown"
                    data-reactid="221">
                    Gowns</a> | 
                    <a class="text-secondary text-decoration-none" href="/rings" data-reactid="225">
                    Rings</a> | 
                    <a class="text-secondary text-decoration-none" href="/cricket-shoes" data-reactid="229">
                    CricketShoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/forever-21"
                    data-reactid="233">Forever21</a> | 
                    <a class="text-secondary text-decoration-none" href="/eye-makeup"
                    data-reactid="237">EyeMakeup</a> | 
                    <a class="text-secondary text-decoration-none" href="/photo-frames"
                    data-reactid="241">PhotoFrames</a> | 
                    <a class="text-secondary text-decoration-none" href="/punjabi-suits"
                    data-reactid="245">PunjabiSuits</a> | 
                    <a class="text-secondary text-decoration-none" href="/bikini"
                    data-reactid="249">
                    Bikini</a> | 
                    <a class="text-secondary text-decoration-none" href="/shop/myntra-fashion-superstar"
                    data-reactid="253">MyntraFashion Show</a> | 
                    <a class="text-secondary text-decoration-none" href="/lipstick"
                    data-reactid="257">
                    Lipstick</a> | 
                    <a class="text-secondary text-decoration-none" href="/saree" data-reactid="261">
                    Saree</a> | 
                    <a class="text-secondary text-decoration-none" href="/watches" data-reactid="265">
                    Watches</a> | 
                    <a class="text-secondary text-decoration-none" href="/dresses" data-reactid="269">
                    Dresses</a> | 
                    <a class="text-secondary text-decoration-none" href="/lehengas" data-reactid="273">
                    Lehenga</a> | 
                    <a class="text-secondary text-decoration-none" href="/nike-shoes" data-reactid="277">
                    Nike Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/goggles" data-reactid="281">
                    Goggles</a> | 
                    <a class="text-secondary text-decoration-none" href="/bra" data-reactid="285">
                    Bras</a> | 
                    <a class="text-secondary text-decoration-none" href="/men-suits" data-reactid="289">
                    Suit</a> | 
                    <a class="text-secondary text-decoration-none" href="/chinos" data-reactid="293">
                    Chinos</a> | 
                    <a class="text-secondary text-decoration-none" href="/shoes" data-reactid="297">
                    Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/adidas-shoes" data-reactid="301">
                    Adidas Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/woodland-shoes" data-reactid="305">
                    Woodland Shoes</a> | 
                    <a class="text-secondary text-decoration-none" href="/jewellery"data-reactid="309">Jewellery</a> | 
                    <a class="text-secondary text-decoration-none" href="/designer-saree" data-reactid="313">Designers Sarees</a>
                </div>  
                <div class="d-flex justify-content-between mt-5">
                    <p>In case of any concern, Contact Us</p>
                    <p>© 2023 www.myntra.com. All rights reserved.</p>
                </div>
        </div>
    </div>
</footer>
<!-- end:footer  -->

</html>


<script>

    var header = document.getElementById('body');
    var click = document.querySelectorAll('div button');
    var menu = document.querySelector('#st-container');
    var pusher = document.querySelector('st-pusher');
    // to store the corresponding effect
    var effect;

    // adding a click event to all the buttons
    for (var i = 0; i < click.length; i++) {
        click[i].addEventListener('click', addClass)
    }

    pusher.addEventListener('click', closeMenu);



    function addClass(e) {
        // to get the correct effect
        effect = e.target.getAttribute('data-effect');
        // adding the effects
        menu.classList.toggle(effect);
        menu.classList.toggle('st-menu-open');
        header.classList.toggle('text-opacity-25');

        // console.log(e.target.getAttribute('data-effect'));
    }
    // menu.classList.toggle('st-menu-open');

    function closeMenu(el) {
        // if the click target has this class then we close the menu by removing all the classes
        if (el.target.classList.contains('st-pusher')) {
            menu.classList.toggle(effect);
            menu.classList.toggle('st-menu-open');
            // console.log(el.target);
        }
    }

</script>
<script>
    function sizeCard_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function sizeCard_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
<script>
    $(document).ready(function () {
        $('.dropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

<script>
    function sizeCard_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function sizeCard_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>